@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}

body {
    @apply bg-background text-foreground antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold text-primary;
}